.App {
    margin: 30px;
}

.Warning {
    background: white;
    border: 2px solid #FF3333;
    margin-bottom: 10px;
    color: red;
}

.App div {
    padding: 20px;
}

.Title {
    background: #66CCFF;
    border: 2px solid #0099FF;
    font-size: 1.4em;
    height: 3em;
    line-height: 3em;
}

.UI td {
    border: 0px;
    padding: 2px;
}

input.MessageTextBox {
    width: 30em;
}

.ChatBoard {
}

.ChatBoard table {
    border-collapse: collapse;
    table-layout: fixed;
}

.ChatBoard .Timestamp {
    text-align: center;
}

.ChatBoard .Message {
    min-width: 20em;
}
.ChatBoard th, td {
    border: solid 1px;
    padding: 8px;
}

.ChatBoard thead th {
    background-color: #99FFCC;
}
