.App {
    margin: 30px;
}

.Warning {
    background: red;
}

.App div {
    padding: 20px;
}

.Title {
    font-size: 1.4em;
    height: 3em;
    line-height: 3em;
    background: orange;
}

.UI td {
    border: 0px;
    padding: 2px;
}

input.MessageTextBox {
    width: 30em;
}

.ChatBoard {
}

.ChatBoard table {
    border-collapse:  collapse;
}

.ChatBoard th, td {
    border: solid 1px;
    padding: 8px;
}
