.App {
    margin: 30px;
    /* text-align: center; */
}

.App div {
    padding: 20px;
}

.Title {
    font-size: 1.4em;
    height: 3em;
    line-height: 3em;
    background: orange;
}

.UI {
}

.ChatBoard {
}

.ChatBoard table {
    border-collapse:  collapse; /* セルの線を重ねる */
}

.ChatBoard th, td {
    border: solid 1px;
    padding: 8px;
}
